@import "../../../styles/settings.scss";

.root {
  padding: $base-padding 0;
  
  .mobileFilters {
    width: 100%;
    
    .filtersContainer {
      display: flex;
      height: 50px;
      align-items: center;
      justify-content: center;
      
      
      .selectFilter {
        width: 80%;
        
          select {
            height: 40px;
            width: 100%;
        }
      }
    }
  }
  .content {
    height: auto;
  }

  .filters {
    height: auto;
  }
}

@media (min-width: 360px) and (max-width: 768px) {

  .filters {
    display: none;
  }

}

@media (min-width: 769px) {

  .mobileFilters {
    display: none;
  }
}