@import "../../../styles/settings.scss";

.root {
  padding: $base-padding 0;

  .content {
    height: auto;
  }

  .filters {
    height: auto;
  }
}

@media (min-width: 360px) and (max-width: 768px) {

  .filters {
    display: none;
  }

}
