@import "../../../styles/settings.scss";

// .root {
// }

.main {
  background-color: $main-dark;
  color: $white;
  font-size: $font-size;
  line-height: $line-height;
  font-weight: 600;
  padding: 10px 30px;

  &:not(.noHover):hover {
    color: #ffffff !important;
    background-color: $primary;
    text-decoration: none;
  }
}

.small {
  @extend .main;
  font-size: 10px;
  line-height: $line-height;
  padding: 5px 10px;
  font-weight: 400;
}



.outline {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid $main-dark;
  color: $main-dark;
  font-size: 13px;
  line-height: 22px;
  transition: all 0.5s;

  &:not(.noHover):hover {
    background-color: $main-dark;
    color: $white;
  }
}


