@import "../../../styles/settings.scss";

.root {
  background-color: $main-grey;

  ul {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      line-height: 55px;

      a {
        @extend %hover-effect;
        color: $white;
        font-size: 13px;

        &:hover {
          color: $primary;
          text-decoration: none;
        }
      }
    }
  }

  .topOptions ul li {
    margin-right: 1.5rem;

    .icon {
      margin-left: 5px;
    }
  }

  .topMenu ul li {
    margin-left: 1.5rem;

    .icon {
      margin-right: 5px;
    }
  }
}

@media(max-width: 768px) {
  .root {
    .topOptions {
      padding-right: 0;

      ul li {
        margin-right: 0.6rem;
    }
  }
    .topMenu {
      padding-left: 0;
    }
}

  .topMenuText {
    display: none;
  }
}

@media(max-width: 420px) {
  .root {
    .topOptions ul li {
      margin-right: 0.3rem;
    }
  }
}
