@import "./settings.scss";

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  color: $text-color;
  line-height: $line-height;
  font-size: $font-size;
  font-weight: $font-weight;
}
