/* BASIC COLORS */
$mainBlack: #0c0b0b;
$mainWhite: #fdfcfc;

/**/

$base-padding: 24px;

$header-topbar-bg: #434343;
$header-bg: #363636;

$footer-claim-bg: #2a2a2a;
$footer-bg: #363636;

$primary: #d58e32;
$light-green: #90EE90;

$text-color: #2a2a2a;

$form-border-color: #292929;

$letter-spacing: 1.2px;

$box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);

/* PRODUCT BOX */
$old-price: #c17700;
