@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900");

/* BASIC COLORS SETUP */
$primary: #d58e32;
$primary-dark: #c17700;
$main-white: #fdfcfc;
$white: #ffffff;
$milk: #e1e1e1;
$invisibleGrey: #e2e2e2;
$main-grey: #434343;
$lightGrey: #b6b6b6;
$dark-grey: #363636;
$heavenlyGrey: rgb(169, 169, 169);
$main-dark: #2a2a2a;
$almostBlack:  rgb(42, 42, 42);
$black: #000000;
$blackishBlack: rgba(1, 2, 2, 0.2);
$color-warning: #f6b93b;
$color-danger: #e55039;
$color-success: #78e08f;

/* BASIC VARIABLES SETUP*/
$primary-font: "Poppins", sans-serif;
$font-size: 16px;
$font-weight: 300;
$text-color: $main-dark;
$letter-spacing: 1.2px;
$line-height: 24px;

$main-transition: all 0.3s linear;
$main-spacing: 0.3rem;
$light-shadow: 2px 5px 3px 0px rgba(0, 0, 0, 0.5);
$dark-shadow: 4px 10px 5px 0px rgba(0, 0, 0, 0.5);

$base-padding: 12px;
$max-width: 40rem;
$small-width: 85vw;
$full-width: 1170px;

/* MIXINS */
@mixin flex($align-items, $justify-content) {
  display: flex;
  align-items: $align-items;
  justify-content: $justify-content;
}

@mixin center() {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
