$darkGrey: #2a2a2a;
$chocolate: #363636;
$latte: #434343;
$grey: #292929;
$orange:  #d58e32;
$white: #ffffff;
$lightGrey: #b6b6b6;
$cream: #f4f5f7;
$milk: #e1e1e1;
$invisibleGrey: #e2e2e2;
$almostBlack:  rgb(42, 42, 42);
$anotherWhite:  rgb(216, 216, 216);
$heavenlyGrey: rgb(169, 169, 169);
$blackishBlack: rgba(1, 2, 2, 0.2);

//NIE UŻYWANY ZMIENNYCH POWYŻEJ W STYLACH KOMPONENTÓW!!!!!!!!


//////COLORS////////

//TOP BAR
$topBar-text: $white;

//MENU
$menu-bg: $white;
$searchBox-border: $blackishBlack;
$menu-text-active: $white;

//HEADER
$header-topbar-bg: $latte;
$header-bg: $chocolate;

//FEATURE BOXES
$feature-box-border: $lightGrey;
$circles-color: $white;

//PRODUCT BOXES
$productBox-half-circle: $grey;
$productBox-half-circle-text: $white;
$productBox-underline: $darkGrey;
$productBoxes-bg: $white;
$favorite-button:  $darkGrey;
$favorite-button-hover-text: $white;
$favorite-button-hover-bg: $darkGrey;

//NEW FURNITURE SECTION
$dots: $milk;
$line-under-newFurniture: $invisibleGrey;

//FOOTER

$primary: #d58e32;
$light-green: #90EE90;
$headings-footer: $white;
$footer-text-hover: $white;
$footer-text: $heavenlyGrey;
$footer-copyrights: $heavenlyGrey;
$footer-icons: $heavenlyGrey;
$footer-claim-bg: $darkGrey;
$footer-bg: $chocolate;

//BRANDS

$brands-background: $white;

//OTHER

$primary: $orange;
$text-color: $invisibleGrey;
$form-border-color: $grey;




///////PADDING////////

$base-padding: 24px;

$form-border-color: #292929;

$letter-spacing: 1.2px;

$box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);

/* PRODUCT BOX */
$old-price: #c17700;
