@import "../../../styles/settings.scss";


.root {
    padding: 5rem 0;
  }

.saleContainer {
    max-height: 300px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 25px;
}

.firstPhoto {
    grid-row-start:1;
    grid-row-end: 3;
    position: relative;

    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        position: relative;
    }
    p {
        position: absolute;
        bottom: 90px;
        left: 60px;
        color: $milk;
        font-size: 57px;
        text-shadow: $light-shadow;
        font-weight: 700;
    }
    h2 {
        position: absolute;
        left: 60px;
        bottom: 165px;
        color: $milk;
        text-shadow: $light-shadow;
        font-weight: 700;
    }
    h1 {
        position: absolute;
        bottom: 30px;
        left: 60px;
        color: $milk;
        border: 3px solid $milk;
        padding: 5px;
        font-size: 45px;
        text-shadow: $light-shadow;
    }
    span {
        background-color: $main-grey;
        width: 92%;
        height: 90%;
        position: absolute;
        opacity: 0.5;
        left: 20px;
        top:20px;
    }

}

.secondPhoto {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    background-color: #EBE9DF;
    min-height: 150px;
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
    }
    .secondWrapper {
        margin-top: 30px;
        margin-left: 10px;
    h4 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-end: 2;
        margin: 0;
        color: black;
        display: inline;
    }
    h3 {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        margin: 0;
        padding: 0 20px 5px 0px;
        color: $primary;
        text-shadow: 1px 1px  $main-grey;
    }
    .contentBold {
        font-weight: bold
    }
  }
}

.thirdPhoto {
    display: grid;
    grid-template-columns: 40% 60%;
    grid-template-rows: 1fr;
    background-color: #D2BFA8;
    padding-right: 20px;
    div {
        margin-left: 22px;
    }
    .thirdBold {
        font-weight: 700;
        font-size: 28px;
        margin-right: 10px;
    }

    img {
        height: 100%;
        width: 95%;
        object-fit: cover;
        grid-row-start: 1;
        grid-row-end: 3;
    }
    h4 {
        color: $primary;
        text-shadow: 1px 1px  $main-grey;
        display: inline-block;
        margin-top: 35px;
        margin-bottom: 0;
    }
    h5 {
        margin: 0;
        font-size: 17px;
        color: black;
        margin-left: 62px;
        margin-top: 4px;
    }
}




