@import "../../../styles/settings.scss";


.root {
  padding: 5rem 0;
  position:fixed;
  top:100vh;
  left:50%;
  transform:translate(-50%,-100%);
  z-index: 999;
  }

.saleContainer {
    position: relative;
    height: 200px;
    width: 450px;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: -1;
      -webkit-filter: blur(3px) brightness(6);
      filter: blur(3px) brightness(6);
    }

    .saleContent {
      padding: 10% 0 3% 0;
      height: 100%;
      color: $primary;
      @include flex(space-between,center);
      flex-wrap: wrap;
      margin-bottom: 15px;
      position: relative;

      .reduce {
        padding: 5px;
        position: absolute;
        left: 0;
        top: 12px;
        text-align: center;
        font-size: 2rem;
        font-weight: bolder;
        color: $primary;
        margin: 14px 0 0 14px;
        background: $main-white;
        border-radius: 15%;
        transform: rotate(-45deg);
      }

      h1 {
        text-align: center;
        width: 100%;
        text-shadow: 2px 2px $main-dark;
      }
      h2 {
        color: $main-dark;
        text-align: center;
        width: 100%;
        text-decoration: underline;
        text-shadow: 2px 2px $main-white;
      }
      h4 {
        width: 100%;
        text-align: center;
        text-shadow: 2px 2px $main-dark;
      }
    }

    .close {
      position: absolute;
      top: 0;
      right: 0;
      width: 50px;
      height: 50px;

      button {
        background: transparent;
        border: none;
      }

      .icon {
        width: 100%;
        height: 100%;
        color: $primary;
      }
  }
}

