@import "../../../styles/settings.scss";

.root {
  padding: 5rem 0;
  padding-top: 10px;
}
 
.saleContainer {
  min-height: 250px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 25px;
}

.firstPhoto {
  grid-row-start:1;
  grid-row-end: 3;
  position: relative;
  height: auto;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: relative;
  }
  h2 {
    position: absolute;
    bottom: 106px;
    left: 60px;
    color: $milk;
    font-size: 57px;
    text-shadow: 1px 1px  black;
    font-weight: bold;
  }
  h1 {
    position: absolute;
    bottom: 25px;
    left: 60px;
    color: $milk;
    border: 3px solid $milk;
    padding: 5px;
    font-size: 45px;
    text-shadow: 1px 1px $darkGrey;
    }
  h3 {
    position: absolute;
    bottom: 166px;
    left: 60px;
    color: $milk;
    font-size: 38px;
    text-shadow: 1px 1px $darkGrey;
  }
  span {
    background-color: $latte;
    width: 90%;
    height: 90%;
    position: absolute;
    opacity: 0.5;
    left: 30px;
    top:25px;
  }
}

.secondPhoto {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 65% 35%;
  background-color: #EAEDF7;
  height: auto;
  min-height: 300px;
  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  h2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    color: $darkGrey;
    margin-top: -110px;
    margin-left: 5px;
    text-align: left;
    text-shadow: 3px 3px $white;
    font-size: 25px;
  }
  h4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-end: 2;
    margin-left: 5px;
    margin-top: 138px;
    color: $darkGrey;
    font-size: 18px;
  }
  h3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-end: 2;
    margin-left: 5px;
    margin-top: 190px;
    color: $primary;
    font-size: 25px;
    font-weight: bold;
  }
  
}

.thirdPhoto {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background-color: #FAF3F8;
  height:auto;
  img {
    height: 100%;
    width: 90%;
    object-fit: cover;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  h3 {
    grid-column-end: 3;
    grid-row-end: 2;
    color: $primary;
    margin-top: 110px;
    margin-right: 12px;
    text-align: right;
    text-shadow: 3px 2px $milk;
    font-size: 25px;
  }
  h4 {
    grid-column-end: 3;
    grid-row-start: 2; 
    color: $darkGrey;
    margin-bottom: 110px;
    margin-right: 12px;
    text-align: right;
    text-shadow: 3px 2px $milk;
    font-size: 16px;
  }
}

/* Screen smaller than 600px: 1 column */
@media (max-width: 600px) {
  .saleContainer {
    grid-template-columns: repeat(1, 1fr);
    .firstPhoto span {
      width: 87%;
      height: 85%;
      top:25px;
      left: 25px;
    }
  }
}

/* Screen smaller than 990px: 1 column */
@media (max-width: 990px) {
  .saleContainer {
    grid-template-columns: repeat(1, 1fr);
    .secondPhoto h2 {
      margin-top: -130px;
    }
    .therdPhoto h4 {
      margin-bottom: 120px;
    }
  }
}

/* Screen larger than 991px: 2 column */
@media (min-width: 991px) {
  .saleContainer {
    .secondPhoto h2 {
      margin-top: -150px;
    }
    .secondPhoto h4 {
      margin-top: 145px;
    }
    .firstPhoto span {
      width: 87%;
      height: 92%;
      top:30px;
    }
  }
}
