@import "../../../styles/settings.scss";

.root {
  padding-top: 20px;
  padding-bottom: 20px;
  margin-bottom: 5px;
}
 
:global(.col-auto) > * {
  border-bottom: 4px solid #e2e2e2;
  margin-bottom: 20px;
}
  
.heading {
  position: relative;
  margin-left: 0;
  padding-left: 0;
}
   
h3 {
  color: $primary;
  text-transform: uppercase;
  font-size: 20px;
  line-height: 38px;
  margin: 0;
  letter-spacing: 1px;
}

.img-wrapper {
  height: 500px;
  width: 300px;
  position: relative;
}

img {
  width: 100%;
  object-fit: cover;
  overfloww: hidden;
  margin: 5px 0;
}

.gall-text {
  position: absolute;
  right: 50px;
  top: 50px;
  z-index: 10;
}