@import "../../../styles/settings.scss";

.root {
  border: 1px solid $form-border-color;
  display: inline-flex;
  height: 45px;
  color: $text-color;

  .category {
    border-right: 1px solid $form-border-color;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 230px;
    .icon:first-child {
      color: $primary;
    }
    .dropdown {
      position: relative;
      .dropdownContainer {
        color: $primary;
        text-transform: capitalize;
        letter-spacing: $letter-spacing;
      }
      .dropdownContent {
        display: none;
        position: absolute;
        top:34px;
        background: $mainWhite;
        width: 230px;
        min-width: 160px;
        box-shadow: $box-shadow;
        z-index: 1;
      }
      .dropdownContent a {
        color: $primary;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-transform: uppercase;
      }
      .dropdownContent a:hover {
        background: $primary;
        color: $mainWhite;
        font-weight: bolder;
      }
    }
  }
  .category:hover {
    .dropdownContent {
      display: block;
    }
    .dropdownContainer {
      font-weight: bolder;
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $text-color;
      }
    }

    button {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}
