@import "../../../styles/settings.scss";

.wrapper {
  text-align: center;
  display: flex;

  .user {
    .list {
      list-style-type: none;
      margin: 0;
      height: 100%;
      padding: 0;
      li {
        display: inline;
        margin: 5px; 
      }
      .topMenuText {
        margin-left: 5px;
      }
    }
  }
}

.root {
  border: 1px solid $heavenlyGrey;
  display: inline-flex;
  height: 45px;
  color: $invisibleGrey;

  .category {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    width: 230px;
    .icon:first-child {
      color: $primary;
    }
  }
  .category:hover {
    .dropdownContent {
      display: block;
    }
    .dropdownContainer {
      font-weight: bolder;
    }
  }

  .searchField {
    display: flex;
    align-items: center;
    position: relative;

    input {
      border: 0;
      padding-left: 10px;
      font-size: 14px;
      outline: none;

      &::placeholder {
        color: $invisibleGrey;
      }
    }

    .searchButton {
      margin: 0 10px 0 10px;
    }

    .search {
      border: 0;
      background-color: transparent;
      outline: none;
    }
  }
}

button:focus {
 outline: none;
}

.burgerWrapper {
  display: none;
}

@media (min-width: 360px) and (max-width: 768px) {

  .searchField input {
    &::placeholder {
      font-size: 12px;
    }
    .fa-search {
      font-size: 12px;
    }
  }

  .root .searchField input {
    width: 140px;
  }

  .root .category {
    width: 180px;
    font-size: 12px;
  }

  .wrapper {
    display: flex;
    justify-content: center;
  }

  .burgerWrapper {
    margin-left: 10px;
    display: block;
    outline: none;
  }
}

