@import "../../../styles/settings.scss";

.root {
  border: 1px solid #b6b6b6;
  text-align: center;
  display: flex;
  height: 100%;
  position: relative;

  .iconWrapper {
    height: 60px;

    color: $text-color;
    @include flex(center, center);
    display: inline-flex;
    position: absolute;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
    .icon {
      position: relative;
      z-index: 9;
    }

    &::before {
      content: "";
      border: 1px solid #b6b6b6;
      position: absolute;
      @include center();
      width: 76px;
      height: 76px;
      border-radius: 100%;
      background-color: $white;
      z-index: -1;
    }

    &::after {
      content: "";
      width: 60px;
      height: 60px;
      border-radius: 100%;
      @include center();
      border: 1px solid #b6b6b6;
    }
  }

  .content {
    text-transform: uppercase;
    color: rgb(42, 42, 42);
    margin-top: -0.5rem;
    letter-spacing: $letter-spacing;
    font-weight: $font-weight;
    width: 100%;
    padding-top: 60px;

    h5 {
      font-weight: 600;
      margin: 0;
    }

    p {
    }
  }

  &.active:hover {
    .iconWrapper {
      color: $white;

      &::after {
        background-color: $primary;
        border-color: $primary;
      }
    }

    .content {
      color: $primary;
    }
  }
}
