@import "../../../styles/settings.scss";



.buttons {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    .button {
        margin: 5px;
        display: flex;
        &:hover {
            color: $milk;
        }
    }
    .icon {
        display: inline-block;
        color: $latte;
        margin: auto;
    }
}

