@import "../../../styles/settings.scss";

.root {
  padding: 15px;
  max-width: 350px;
  
  .header {
    border-bottom: 2px solid gray;
    padding: 10px 0;
    text-transform: uppercase;
  }
  
  .list{
    padding: 0;
    list-style-type: none;
    
    .item {
      display: flex;
      justify-content: space-between;
      margin: 10px 0;
      text-transform: capitalize;
      @extend %hover-effect;
      cursor: pointer;

      &:hover {
        color: $primary;
        padding-left: 20px;
        font-weight: bolder;
      }
      &:hover .amount {
        background-color: $primary;
      }
    }

    .amount {
      background-color: black;
      color: white;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      line-height: 30px;
      text-align: center;
      font-weight: bold;
    }
  }
  .wrapper {
    display: flex;
    flex-direction: column;
  }
}
